<p id="notice"><%= notice %></p>

<p> <%= image_tag @portfolio.main_image if @portfolio.thumb_image %> </p>
<h2>
  <%= @portfolio.title %>
</h2>

<em>
	<%= @portfolio.subtitle %>
</em>

<p>
  <%= @portfolio.body %>
</p>

<%= link_to 'Edit', edit_portfolio_path(@portfolio) %> |
<%= link_to 'Back', portfolios_path %>
<%= link_to "Delete portfolio", portfolio_path(@portfolio) ,method: :delete%>