
<div class="masthead clearfix">
    <div class="inner">
      <h3 class="masthead-brand"> <%= current_user.name %> </h3>
      <nav>
        <ul class="nav masthead-nav">

        	<li><%= link_to "Home", root_path %> <li>
			<li> <%= link_to "Blogs", blogs_path, :class => 'nav-link'%> </li>

			 <li><%= link_to "Portfolios", portfolios_path , :class => 'nav-link' %> </li>

			 <li><%= link_to "About", about_path, :class => 'nav-link'%> </li>

			 <li><%= link_to "Contact", contact_path, :class => 'nav-link'%> </li>
			 <% if current_user.is_a?(User) %>
                <li> <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %> </li>
              <% else %>
                 <li> <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>  </li>
              <% end %>
          
        </ul>
      </nav>
	</div>
</div>

