
<div class="masthead clearfix">
    <div class="inner">
      <h3 class="masthead-brand"> Manoj P </h3>
      <nav>
        <ul class="nav masthead-nav">

      <li><%= link_to "Home", root_path ,:class => 'navbar'%> <li>
			<li> <%= link_to "Blogs", blogs_path, :class => 'navbar'%> </li>

			 <li><%= link_to "Portfolios", portfolios_path , :class => 'navbar' %> </li>

			 <li><%= link_to "About", about_path, :class => 'navbar'%> </li>

			 <li><%= link_to "Contact", contact_path, :class => 'navbar'%> </li>
			 <% if current_user.is_a?(User) %>
                <li> <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar'  %> </li>
              <% else %>
                 <li> <%= link_to "Login", new_user_session_path, :class => 'navbar'  %>  </li>
              <% end %>        
        </ul>
      </nav>
	</div>
</div>

